article{
    display: flex;
    flex-direction: column;
    width: 75%;
    text-align: left;
    border: 1px solid;
    padding: 10px 10px 0px 10px;
    box-shadow: 5px 5px 10px 0px #575757;
    justify-content: space-between;
    margin-top: 10px;
}

.article-title{
    font-size: xx-large;
    font-family: 'Crete Round', serif;
    flex: 1;
}

.article-description{
    font-size: large;
    font-family: 'Crete Round', serif;
    flex: 1;
}

.article-info{
    font-size: medium;
    font-family: 'Crete Round', serif;
    flex: 1;
}