.articles-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    overflow: auto;
}

article{
    display: flex;
    flex-direction: column;
    height: 35%;
    justify-content: space-between;
    width: 75%;
    text-align: left;
}

.article-title{
    font-size: xx-large;
    font-family: 'Crete Round', serif;
    flex: 1;
}

.article-description{
    font-size: large;
    font-family: 'Crete Round', serif;
    flex: 1;
}

.article-info{
    font-size: medium;
    font-family: 'Crete Round', serif;
    flex: 1;
}