* {
    padding:0;
    margin:0;
    height: 100%;
}

.main-container {
    display: flex;
    text-align: center;
    overflow: auto;
    background-color: #E8E8E8;
}

.nav {
    background-color: #006a71;
    flex: 0 1 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 0 20px 0px #575757;
    padding: 5px;
}

.avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: solid 3px #ffffff;
}

.title {
    height: 25px;
    margin-top: 10px;
    font-family: 'Crete Round', serif;
}

.title-nav {
    font-size: 25px;
    margin-bottom: 10px;
    color: white;
}

#app{
    flex: 0 1 75%;
    display: flex;
    align-items: center;
    flex-direction: column;
}