article{
    font-size: 1.1em;
    color: black;
    text-align: left;
    border: 1px solid;
    padding: 10px 10px 0px 10px;
    box-shadow: 5px 5px 10px 0px #575757;
    margin-bottom: 15px;
}

.article-title {
    font-size: 2.5em;
}

.article-paragraph {
    font-size: 1.2em;
}