button {
    width: 50px;
    height: 50px;
    background-color: #e8e8e8;
    color: #006a71;
    border: 1px solid #006a71;
    border-radius: 5px;
    margin: 10px 10px;
    font-size: 1.5em;
}

canvas {
    margin: 20px 0;
    border: 1px dotted #006a71;
    width: 100%;
    max-width: 500px;
}

#gameContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

#gameContainer span {
    font-size: 2.5em
}

#gameContainer h2 {
    font-size: 2em
}

#gameContainer h3 {
    font-size: 1.7em
}

.btn {
    width: 250px;
    height: 70px;
    background-color: transparent;
    border: 1px solid #006a71;
    border-radius: 3px;
    color: #006a71;
    font-size: 1.5em;
    margin-top: 20px;
}

.btn:hover {
    background-color: #ffffff;
}

.text-to-left {
    text-align: left;
}

.disabled-button {
    background-color: #e8e8e8;
    color: #e8e8e8;
}