body{
    background-color: #E8E8E8;
    color: white;
    font-family: "Crete Round", serif;
}

nav {
    display: flex;
    padding: 10px;
    background-color: #006a71;
    box-shadow: 0 5px 20px 0 #575757;
}

footer{
    background-color: #006a71;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.text-big {
    font-size: 2.5em;
    text-align: center;
}

.main-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    height: 100%;
}

.personal-information-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #006a71;
    box-shadow: 0 5px 20px 0 #575757;
    max-height: 390px;
}

.personal-information-data-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.personal-information-avatar-container{
    padding: 20px;
}

.personal-information-data{
    font-size: 1.3em;
    font-weight: bold;
}

.icon-container{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 10px;
    width: 100%;
}

.avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: solid 3px #ffffff;
}

.blog-title {
    font-family: "Crete Round", serif;
    font-size: 2.5em;
}

.link {
    text-decoration: none;
    color: white;
}

.link-color-blue{
    color: #009EE0;
}

.icon{
    width: 50px;
    height: 50px;
}

.color-red{
    color: red;
}

#app {
    max-width: 880px;
    color: black;
}

#app img {
    width: 100%;
    height: auto;
    box-shadow: 3px 3px 10px 0 #575757;
    display: block;
    margin: 0 auto;
    max-width: 700px;
}

#notFoundContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}