* {
    padding:0;
    margin:0;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    text-align: center;
}

.nav {
    background-color: #006a71;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: solid 3px #ffffff;
}

.title {
    height: 25px;
    margin-top: 10px;
    font-family: 'Crete Round', serif;
}

.title-nav {
    font-size: 25px;
    margin-bottom: 10px;
    color: white;
}

#app {
    flex: 3;
    overflow: auto;
}

@media only screen and (max-width: 768px){

    .main-container {
        flex-direction: column;
    }

    .nav {
        flex: 2;
    }
}